body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    position: absolute;
    left: 2%;
    top: 5%;
}

.header-name {
    padding: 4rem;
}

.news {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    height: 25rem;
    font-size: 2rem;
}

.signup input {
    width: 20rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

footer {
    background-color: #54b1d9;
    height: 30rem
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10rem;
}

.ul-first {
    flex-direction: column;
}

.ul-second {

    flex-direction: column;
}

.ul-third {
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    color: white;
    font-size: 2rem;
}

.contact {
    padding: 4rem;
    background-color: gainsboro;
    height: 40rem;
    width: 100vw;
    font-size: 2rem;
    height: 100vh;

}

.contact h4 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

button {
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #54b1d9;
    color: white;
    border: none;
    margin-bottom: 2rem;
}

.contact input {
    width: 20rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

.contact textarea {
    width: 20rem;
    height: 10rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    height: 80%;
    font-size: 2rem;
}

.product p {
    width: 300px;
}


@media (max-width: 1024px) {
    .news-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer {
        height: 20rem;
        padding: 3rem;
    }

    .footer-links {
        padding: 2rem;
    }
}

@media (max-width: 640px) {
    .news-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    footer {
        height: 40rem;
        padding: 0;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }

    .ul-first {
        margin-bottom: 2rem;
    }

    .ul-second {
        margin-bottom: 2rem;
    }

    .contact {
        padding: 0;
        height: 105vh;
    }

    .contact-info {
        margin: 0;
    }

}